html {
    scroll-behavior: smooth;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

::selection {
    background-color: black;
    color: white;
}

.total-header {
    display: flex;
}

.nav-drop-down {
    display: none;
    margin-top: 23px;
    margin-right: 28px;
    z-index: 3;
}

.drop-trigger img {
    height: 35px;
    width: 36px;
    cursor: pointer;
    z-index: 3;
}

.drop-trigger {
    z-index: 3;
}

.drop-menu {
    position: absolute;
    background-color: white;
    list-style-type: none;
    top: 85px;
    width: 100%;
    right: 0;
    height: 173px;
    border-width: 1pt;
    border-color: black;
    border-style: solid;
    z-index: 2;
    border-bottom-left-radius: 14pt;
    border-bottom-right-radius: 14pt;
}

.drop-menu li a,
.drop-menu li {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    letter-spacing: 2.74px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 32px;
}

.drop-menu.inactive {
    display: none;
    z-index: 1;
    animation-name: reverse-drop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.drop-menu.active {
    animation-name: drop-slide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes drop-slide {

    from {
        top: -100px;
    }
    to {
        top: 85px;
    }
}

@keyframes reverse-drop {
    
    from {
        display: block;
        top: 85px;
    }
    to {
        display: none;
        top: -100px;
    }
}

@media screen and (max-width: 767px) {
    .nav-drop-down {
        display: block;
    }

    .nav-options {
        display: none;
    }

    .nav-bar {
        padding-right: 28px;
        padding-top: 13px;
    }
}